<p id="notice"><%= notice %></p>

<h1><%= @quiz.title %></h1>

<table class="table table-striped table-bordered">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td width="200">Level:</td>
      <td><%= @quiz.level %></td>
    </tr>
    <tr>
      <td>Active:</td>
      <td><%= @quiz.active %></td>
    </tr>
    <tr>
      <td>Percent to pass:</td>
      <td><%= @quiz.percent_to_pass %></td>
    </tr>
  </tbody>
</table>

<h4>Questions(<%= @quiz.questions.count %>):</h4>
<ul>
  <% @quiz.questions.each do |q| %>
    <li><%= q.body %> <%= link_to "#{ fa_icon "eye" } Show".html_safe, admin_question_path(q), class: 'btn btn-default btn-sm' %></li>
  <% end %>
</ul>

<hr>
<%= link_to 'Edit', edit_admin_quiz_path(@quiz), class: 'btn btn-warning' %> |
<%= link_to 'Back', admin_quizzes_path, class: 'btn btn-default' %>
