<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="30">#</th>
      <th>Question</th>
      <th>Quizzes</th>
      <th width="100">Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each_with_index do |question,i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= question.body %></td>
        <td><%= question.quizzes.count %></td>
        <td>
          <% if question.active %>
            <span style="color:green;">
              Active
            </span>
          <% else %>
            <span style="color:grey;">
              Disabled
            </span>
          <% end %>
        </td>
        <td width="30"><%= link_to 'Show', admin_question_path(question) %></td>
        <td width="30"><%= link_to 'Edit', edit_admin_question_path(question) %></td>
        <td width="30"><%= link_to 'Destroy', admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_admin_question_path, class: 'btn btn-lg btn-warning' %>
