<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="30">#</th>
      <th>Category Ttle</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each_with_index do |category,i| %>
      <tr>
        <td><%= (i + 1).to_s %></td>
        <td><%= category.title %></td>
        <td><%= category.description %></td>
        <td width="30"><%= link_to 'Show', admin_category_path(category) %></td>
        <td width="30"><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td width="30"><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path, class: 'btn btn-lg btn-warning' %>
